<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ header }}
  </h1>
  <h3>This site is currently under construction.</h3>
  <h3>
    Visit this site's 
    <a target="_blank" rel="noopener" href="https://github.com/sherlocktech/sherlocktech">github page</a> 
    to see progress.
  </h3>
</div>
<h2>In the meantime, here are some links to visit: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/sherlocktech">My github profile</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://purpose-project.firebaseapp.com">Purpose Project</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://trip-calculator-5.firebaseapp.com">Trip Calculator</a></h2>
  </li>
</ul>
